/* 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

body {
    line-height:1;
}

ol,ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';content:none;
}

table {
    border-collapse:collapse;border-spacing:0;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

----------a blue color as a generic focus style-----------
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
  
a {
    text-decoration: none;
}  
*/

@charset "UTF-8";
/****************************************
         전체초기화
*****************************************/
/* 초기화 */ 
/*
줄 바꿈할때 같이 쓰는 선택자끼리 모아서 줄 바꾸는게 좋다
나중에 font-size도 0으로 맞춰서 h1~h6 사이즈를 변경 가능
*/
body, div, ul, li, dl, dt, ol,
h1, h2, h3, h4, h5, h6, 
form, input, select, textarea, button, fieldset, legend,
p, table, th, td, tr{
    margin: 0; padding: 0;
}

/* --- 기본 스타일 초기화 --- */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    background-color: #f0f2f5;
}


input, select, textarea{
    font-family: inherit;
    font-size: inherit;
}

/* clearfix */
/* .clearfix{*zoom:1;} ->익스플로어에 적용 */
.clearfix::before, .clearfix::after{
    display: block;
    content: "";
    line-height: 0;
}

.clearfix::after{
    clear: both;
}

ol, ul{
    list-style-type: none;
}

a{
    text-decoration: none;    /*밑줄제거*/
    color: inherit;           /*부모색상상속*/
}

table{
    border-collapse: collapse;
}
